.hero {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 1.4rem;
    color: hsl(25, 47%, 15%);
}

.bars-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bar {
    width: 32px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 3px;
}

.amount {
    position: relative;
    top: -30px;
    left: -4px;
    width: 40px;
    margin: 0;
    padding: 5px 2px;
    font-size: .72rem;
    text-align: center;
    color: hsl(27, 66%, 92%);
    background-color: hsl(25, 47%, 15%);
    border-radius: 3px;
    opacity: 0;
}

.monday-bar {
    height: 34.9px;
}

.tuesday-bar {
    height: 69.82px;
}

.wednesday-bar {
    height: 130.9px;
}

.thursday-bar {
    height: 77.67px;
}

.friday-bar {
    height: 58.47px;
}

.saturday-bar {
    height: 108.2px;
}

.sunday-bar {
    height: 63.7px;
}

.days-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: .8rem;
    list-style: none;
}

.day {
    width: 32px;
    color: hsl(28, 10%, 53%);
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px hsl(27, 66%, 92%);
}

.currently-month__total-text,
.last-month__total-text,
.last-month__total-number {
    margin-bottom: 0;
    font-size: .95rem;
}

.currently-month__total-number {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 2rem;
}

.last-month__total-number {
    margin-top: 32px;
    margin-bottom: 0;
    text-align: end;
}

.last-month__total-text {
    margin-top: 0;
}

.number {
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}

.text {
    color: hsl(28, 10%, 53%);
}

@media (hover :hover) {
    .bar:hover {
        cursor: pointer;
        background-color: hsla(10, 79%, 65%, .7);
    }
    .bar:hover > .amount {
        opacity: 1;
    }

    .wednesday-bar:hover {
        background-color: hsl(186, 34%, 60%);
    }
}